// farger fra github iht oppgaveteksten

  .normal{
    background-color: #dce1e6;
  }
  .fighting{
    background-color: #f0c3d0;
  }
  .flying{
    background-color: #dce4f4;
  }
  .poison{
    background-color: #e6caf2;
  }
  .ground{
    background-color: #f2c8b4;
  }
  .rock{
    background-color: #f7eed4;
  }
  .bug{
    background-color: #eaf4d3;
  }
  .ghost{
    background-color: #d0d9f4;
  }
  .steel{
    background-color: #d4edf7;
  }
  .fire{
    background-color: #f4d5bf;
  }
  .water{
    background-color: #cbe1f9;
  }
  .grass{
    background-color: #cdf9c8;
  }
  .electric{
    background-color: #f4eab8;
  }
  .psychic{
    background-color: #f2c2c4;
  }
  .ice{
    background-color: #d6f9f3;
  }
  .dragon{
    background-color: #c6dff4;
  }
  .dark{
    background-color: #d3cae3;
  }
  .fairy{
    background-color: #f9dbf6;
  }
  .unknown, .stellar {
    visibility: hidden;
  }