// styling til alle typeCards

.typecard {
    margin: 10px;
    text-decoration: none;
    color: var(--font-clr);
    height: 50px;
    width: 120px;
    display: flex;
    border-style: none;
    border-radius: 8px;
    align-items: center;
    gap: 7px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    } 

    img {
        width: 30px;
        height: 30px;
        padding-left: 0.5rem;
        pointer-events: none;
    }

    h2 {
        font-size: 12px;
        pointer-events: none;
    }
}  